# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
cmake-build-debug
.idea
cmake-build-debug2
CMakeLists.txt
lab01_wektory.pdf
lab02_war.pdf
